@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $medium-spacing;
  padding: $medium-padding;
  position: relative;

  @include breakpoint("large") {
    display: flex;
  }
}

.selectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $medium-font;
  border: 1px solid $border-color;
  padding: 0 $medium-padding;
  cursor: pointer;
  border-radius: 10px;

  input {
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: $medium-padding 0;
    outline: none;
    font-size: $small-font;
    cursor: pointer;

    @include breakpoint("medium") {
      font-size: $small-font;
    }

    @include breakpoint("xlarge") {
      font-size: $medium-font;
    }
  }
}

.basketBoxWrapper {
  border: 1px solid $border-color;
  height: auto;
  max-height: 300px;
  overflow: scroll;
  position: absolute;
  top: 70px;
  width: calc(100% - $medium-padding - $medium-padding);
  z-index: 1000000000000;
  background-color: $white-color;

  @include breakpoint("xlarge") {
    top: 80px;
  }
}

.basketNameWrapper {
  padding: $medium-padding;
  font-size: $small-font;

  @include breakpoint("medium") {
    font-size: $small-font;
  }

  @include breakpoint("xlarge") {
    font-size: $medium-font;
  }

  &:hover {
    background-color: $border-color;
  }
}
