@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.checkboxList {
  margin-top: $large-margin;
  padding-left: $small-padding;
  display: flex;
  flex-direction: column;
  gap: $medium-spacing;
}
