@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  max-width: 20%;
}

.heading {
  font-size: $medium-font;
}

.filtersWrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: $large-spacing;
  background-color: #33333310;
  padding: $extra-large-padding;
  margin-top: $large-margin;
}
