@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.footer {
  border-top: 1px solid $secondary-coral-color;
  background-color: $logo-color;
  color: white;
}

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: $extra-large-padding;
  padding-bottom: $extra-large-padding;
  text-align: center;

  @include breakpoint("medium") {
    width: 80%;
  }
}

.links,
.contact {
  flex: 1;

  p {
    color: $secondary-yellow-color;
    padding-bottom: $small-padding;
    font-size: $small-font;
  }

  h4 {
    font-size: $small-font;
    padding-bottom: $small-padding;
    color: $secondary-coral-color;

    @include breakpoint("medium") {
      font-size: $medium-font;
    }
  }
}

.copyright {
    border-top: 1px solid $secondary-yellow-color;
    text-align: center;
    background-color: $black-color;
    padding: $small-padding;
}

.social {
  display: flex;
  gap: $medium-padding;
  justify-content: center;
  align-items: center;
  padding-bottom: $small-padding;

  h4 {
    font-size: $medium-font;
  }

  .icon {
    color: $secondary-yellow-color;
    font-size: $medium-font;
  }
}