@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
    gap: 16px;
    margin-bottom: 200px;
    margin-top: 30px;
    color: $logo-color;

    .text {
        text-align: center;
    }
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
}