@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.sortBy {
  align-items: center;
  // display: none;

  @include breakpoint("large") {
    display: flex;
  }
}

.wrapper {
  position: relative;
  cursor: pointer;
  font-size: $small-font;

  @include breakpoint("medium") {
    font-size: $small-font;
  }

  @include breakpoint("xlarge") {
    font-size: $medium-font;
  }
}

.selectedOption {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: $medium-padding;
  width: 220px;

  @include breakpoint("xlarge") {
    width: 320px;
  }
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;

  div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
}

.dropdown:hover .options {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000000;
  background-color: rgba(14, 12, 12, 0.747);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: $medium-font;
}

.modalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeading {
  border-bottom: 2px solid $border-color;
  padding: 20px 10px;
}

.modalFiltersWrapper {
  margin-top: $extra-large-margin;
  display: flex;
  flex-direction: column;
  padding: 0 $extra-large-padding;
  gap: $extra-large-margin;
}

.modalWrapper {
  margin-top: $extra-large-margin;
  height: 40%;
  display: flex;
  bottom: 0;
  flex-direction: column;
  gap: $large-spacing;
  padding: 0 $extra-large-padding;
  background-color: $white-color;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  width: 100%;
}

.noScroll {
  overflow: hidden;
}
