@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
	display: flex;
	flex-direction: column;
	color: $text-color;
	background-color: $logo-color;
	background-color: $secondary-gray-color;
	background-color: $primary-color;
	background-color: $secondary-yellow-color;
	background-color: $background-pale-green-color;
	background-color: $secondary-coral-color;
	text-transform: uppercase;
	height: 100vh;
	width: 50%;

	@include breakpoint("medium") {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 8px;
	}

	&__navigation {
		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			padding: 8px;

			@include breakpoint("medium") {
				flex-direction: row;
			}

			li {
				@include breakpoint("medium") {
					margin-left: 16px;
				}

				&:first-child {
					margin-left: 0;
				}
				a {
					text-decoration: none;
					&:hover {
						color: #007bff;
					}
				}
			}
		}
	}

	&__auth {
		padding: 8px;
		a {
			text-decoration: none;
			margin-right: 8px;
			&:hover {
				color: #007bff;
			}
		}
	}
}
