@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

// .container {
//   margin-top: $large-margin;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-auto-rows: minmax(100px, auto);
//   gap: $large-padding;

//   @include breakpoint("xlarge") {
//     grid-template-columns: repeat(3, 1fr);
//   }

//   @include breakpoint("xxlarge") {
//     grid-template-columns: repeat(3, 1fr);
//     grid-auto-rows: minmax(100px, auto);
//     gap: $extra-large-padding;
//   }
// }

.container {
  margin-top: $large-margin;
  display: flex;
  flex-wrap: wrap;
  // gap: $large-padding;
  align-items: center;
  justify-content: space-between;

  @include breakpoint("medium") {
    margin-top: $small-margin;
  }

  @include breakpoint("xlarge") {
    margin-top: $large-margin;
  }
}
