@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  width: 80%;
  margin: auto;
  padding: $extra-large-padding 0;
}

.wrapper {
  margin-top: $extra-large-margin;
  display: flex;
  justify-content: space-between;
  margin-bottom: $extra-large-margin;
  gap: $large-spacing;
}

.listAndFiltersWrapper {
  display: flex;
}

.test2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: $medium-spacing;
}

.test {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filtersWrapper {
  width: 20%;
}
