@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  width: 80%;
  margin: auto;
  padding: $extra-large-padding 0;
}

.sortAndSearchWrapper {
  margin-top: $extra-large-margin;
  display: flex;
  justify-content: center;
  margin-bottom: $extra-large-margin;
  gap: $large-spacing;
}
